.admin-stats{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.admin-stat{
    background-color: #343434;
    border-radius: 12px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    height: 30vh;
    min-height: 268px;
    min-width: 688px;
}

.admin-stat-left{

}

.admin-stat-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.admin-stat-chart{
    width: 70%;
    background-color: #272727;
    border-radius: 12px;
    padding: 10px;
    max-width: 480px;
    cursor: pointer;
}

.admin-stat-all{
    background-color: #272727;
    border-radius: 12px;
    height: 22%;
    min-height: 95px;
    width: 130px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-stat-growth{
    background-color: #272727;
    width: 130px;
    height: 130px;
    padding: 10px;
    border-radius: 12px;
}

.all-upper{
    color: white;
}

.all-lower{
    text-align: right;
    color: white;
}

