.detailed-spot{
    background-color:rgba(255, 255, 255, 0.412);
    width: 500px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
    backdrop-filter: blur(10px);
}

.spot-forecast{
    padding-bottom: 5%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color:rgba(255, 255, 255, 0.205);
    backdrop-filter: blur(10px);
}

.author-div{
    display: flex;
    flex-direction: row;
}

.spot-names{
    margin-top: 5px;
    margin-left: 2.5%;
    width: 480px;
    border-radius: 12px;
}

.textarea-form{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.textarea-form::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.weather{
    background-image: linear-gradient(to bottom right, rgb(255, 215, 172), rgb(251, 193, 132));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    margin-top: 15px;
    width: 95%;
    border-radius: 12px;
    height: 180px;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}

.spot-name-description{
    font-size: 12px;
    margin-bottom: 2px;
    color: rgb(0, 0, 0);
}

.spot-title{
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.spot-description{
    font-size: 24px;
    margin-bottom: 3px;
    line-height: 26px;
    color: rgb(9, 9, 9);
}

.surf-conditions{
    display: flex;
    flex-direction: row;
    
}

.waves{
    background-image: linear-gradient(to bottom right, rgb(195, 248, 255), rgb(150, 217, 226));
    margin-left: 2.5%;
    margin-right: 1%;
    margin-top: 15px;
    width: 50%;
    border-radius: 12px;
    height: 200px;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wind{
    background-image: linear-gradient(to bottom right, rgb(255, 210, 210), #ffa2a2);
    margin-left: 1%;
    margin-right: 2.5%;
    margin-top: 15px;
    width: 50%;
    border-radius: 12px;
    height: 200px;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-waves{
    margin-left: 3px;
    margin-top: 3px;
}

.upper-wind{

    margin-left: 3px;
    margin-top: 3px;
}

.conditions-name{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.conditions-icon{
    width: 30px;
}

.today{
    height: 100%;
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.today-card{
    background-color: white;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.2);
    border-radius: 12px;
    width: 120px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 0;
}

.today-weather-icon{
    width: 70px;
    margin-top: 5px;
}

.today-celsius{
    text-align: center;
    font-size: 18px;
    width: 100px;
}

.today-descriptor{
    font-size: 18px;
    width: 120px;
    text-align: center;
}

.today-temperature{
    background-color: rgb(237, 237, 237);
    border-radius: 12px;
    width: 100px;
}

.upcoming-days{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.upcoming{
    height: 100%;
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.upcoming-card{
    background-color: white;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.2);
    border-radius: 12px;
    width: 100px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 0;
}

.upcoming-weather-icon{
    width: 60px;
    margin-top: 5px;
}

.upcoming-celsius{
    text-align: center;
    font-size: 13px;
    width: 80px;
}

.upcoming-descriptor{
    font-size: 18px;
    width: 120px;
    text-align: center;
}

.upcoming-temperature{
    background-color: rgb(237, 237, 237);
    border-radius: 12px;
    width: 80px;
}

.bottom-waves{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.wave-height{
    width: 45%;
    aspect-ratio: 1;
    background-color: white;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.period{
    width: 45%;
    aspect-ratio: 1;
    background-color: white;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.bottom-wind{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.wind-speed{
    width: 45%;
    aspect-ratio: 1;
    background-color: white;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.wind-direction{
    width: 45%;
    aspect-ratio: 1;
    background-color: white;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.wind-direction-icon{
    width: 25px;
}

.conditions-card-icon{
    width: 50px;
}

.conditions-card-icon-direction{
    width: 75px;
}

.value-div{
    display: flex;
    flex-direction: row;
}

.condition-unit{
    font-size: 18px;
    margin-left: 2px;
}

.rating-wrapper{
    background-image: linear-gradient(to bottom right, rgb(255, 244, 185), rgb(251, 233, 132));
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
    border-radius: 12px;
    width: 90px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2.5%;
    margin-top: 15px;
    animation: 1s appear;
}

.rating-wrapper:hover{
    cursor: pointer;
    background-image: none;
    background-color:  rgb(252, 230, 108);
}


.rating-name{
    font-size: 20px;
    text-align: center;
}

.spot-rating{
    font-size: 40px;
    height: 40px;
    text-align: center;
}

.rating-wrapper-rate{
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
    background-image: linear-gradient(to bottom right, rgb(255, 244, 185), rgb(251, 233, 132));
    border-radius: 12px;
    width: 90px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 2.5%;
    margin-top: 15px;
    animation: 0.5s spin;
}

@keyframes spin {
    from {transform:rotateY(0deg);}
    to {transform:rotateY(180deg);}
}

.rate-question{
    font-size: 20px;
    text-align: center;
    animation: 2s appear;
    background-color: white;
    padding: 1px;
    border-radius: 12px;
    width: 80%;
}

.cancel-rate{
    animation: 2s appear;
    font-size: 20px;
    text-align: center;
    background-color: white;
    padding: 1px;
    border-radius: 12px;
    width: 80%;
}

.rate-question:hover{
    cursor: pointer;
}

.cancel-rate:hover{
    cursor: pointer;
}

@keyframes appear{
    from{
        opacity: 0%;
    }to{
        opacity: 100%;
    }
}


.cancel-detailed{
    margin-top: 5px;
    margin-left: 5px;
    width: 20px;
}

.cancel-detailed:hover{
    cursor: pointer;
}

.rating-choice-wrapper{
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
    background-image: linear-gradient(to bottom right, rgb(255, 244, 185), rgb(251, 233, 132));
    border-radius: 12px;
    width: 70%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 2.5%;
    margin-top: 15px;
}

.rating-logo-spot {
    fill: rgb(84, 84, 84);
    size: 25px;
    margin: 5px;
}

.rating-logo-spot:hover{
    cursor: pointer;
}

.quit-spot-detailed{
    width: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
}